<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Word2Pdf.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <Word2Pdf.My.MySettings>
            <setting name="LastPath" serializeAs="String">
                <value />
            </setting>
            <setting name="LastPrefix" serializeAs="String">
                <value>Page </value>
            </setting>
            <setting name="LastRegexFind" serializeAs="String">
                <value>^\S+\s</value>
            </setting>
            <setting name="LastRegexReplace" serializeAs="String">
                <value />
            </setting>
            <setting name="LastPageNum" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastHeaders" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastReturnLinks" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastMargin" serializeAs="String">
                <value>10</value>
            </setting>
        </Word2Pdf.My.MySettings>
    </userSettings>
</configuration>